models/ggml-base.bin filter=lfs diff=lfs merge=lfs -text
Tests/VideoToSrtTests/samples/gwb_columbia.ogg filter=lfs diff=lfs merge=lfs -text
Tests/VideoToSrtTests/samples/micro_machines.wav filter=lfs diff=lfs merge=lfs -text
