.DS_Store
/.build
.build/
build/
/Packages
.swiftpm
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved
/models/*.bin
Frameworks/whisper.xcframework
Tests/VideoToSrtTests/samples/gwb_columbia.ogg
Tests/VideoToSrtTests/samples/micro_machines.wav
*.srt
*.mp4
*.mkv
*.mp3
VideoToSrt.xcodeproj
